.headerSection {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: 5pt solid green;

    ul {
        width: 18.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            white-space: nowrap;
            list-style: none;
        }
    }
}